.pomoContainer{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 14px;
    border: 2px solid #FBBC05;
    align-items: center;
    border-radius: 24px;
    background: #80808091;
}

.inputContainer
{
    display: flex;
    gap:1rem;
}
.inputWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.break{
    height: 12px;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    
}
.breakColor{
    color: red;
}
.workColor{
    color:#ffffff;
}
.btn{
    padding: 9px 22px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    background: #1363df;
    border-radius: 6px;
    border: none;
    outline: none;
    letter-spacing: 1px;
    cursor:pointer
}
.btn:disabled{
    background: grey;
    cursor: default;
}

.repeatNo{
    width: 75px;
    border-radius: 6px;
    font-size: 13px;
    border: none;
    outline: none;
    padding: 9px;
    color: white;
    cursor:pointer;
    background-color: #3f3c3c69;
}

.repeatNo:disabled{
    background: grey;
    cursor: default;
}